[Unit]
Description=Memcached Exporter
After=network.target

[Service]
User=root
ExecStart=/opt/prometheus/memcached_exporter/memcached_exporter --web.listen-address=:39150

[Install]
WantedBy=default.target
